.card-image {
  height: 400px;
  width: 312px;
  object-fit: contain;
}
.card {
  h4 {
    width: 189px;
    height: 22px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    margin-top: 18px;
  }
}
