.search-logo {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.coral-logo {
  position: absolute;
  width: 98px;
  height: 34px;
  left: 680px;
  top: 0px;
  font-family: "AmstelvarAlpha";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 100px;
  height: 25px;
  margin-right: 20px;
}
.account p {
  margin-right: 20px;
}

.line {
  position: absolute;
  width: 1320px;
  height: 0px;
  left: 0px;
  top: 59px;
  border: 1px solid #E3E3E3;
  margin-left: 200px;
}

.account-logo {
  align-items: center;
}

.header-logos {
  background: rgba(30, 40, 50, 0.05);
}

.menu {
  margin-top: 20px;
}
.menu a {
  text-decoration: none;
}
.menu h4 {
  width: 160px;
  height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.main-img {
  margin-top: 50px;
}
.main-img img {
  height: 562px;
  width: 442px;
  object-fit: contain;
  border-radius: 200px 0px;
}

.content {
  box-sizing: border-box;
  margin-top: 170px;
}
.content h1 {
  width: 360px;
  height: 55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 74px;
  line-height: 55px;
  text-transform: capitalize;
  color: #000000;
}
.content .explore-text {
  width: 682px;
  height: 119px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  text-transform: capitalize;
  color: #000000;
}
.content button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 26px;
  position: absolute;
  width: 223px;
  height: 72px;
  top: 550px;
  background: #1E2832;
  color: aliceblue;
}

.shop-now {
  margin-bottom: 0px;
  margin-left: 5px;
}

.main-top {
  background: rgba(30, 40, 50, 0.05);
}

.brands {
  justify-content: space-around;
  margin: 90px 0px;
}

.brand-logo {
  height: 70px;
  width: 200px;
  object-fit: contain;
}

.mainimgcollect {
  height: 648px;
  width: 648px;
  object-fit: contain;
}

.imgcollect {
  height: 312px;
  width: 312px;
  object-fit: contain;
  margin-bottom: 24px;
}

.popular-style-text {
  position: absolute;
  width: 648px;
  height: 52px;
  left: -105px;
  top: 1255px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(-90deg);
}

.the-newsletter {
  margin-top: 140px;
  margin-bottom: 40px;
  margin-left: 500px;
  width: 707px;
  height: 59px;
  font-family: "Roboto";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
}

.product-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  margin-right: 40px;
}

.filter-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
  gap: 4px;
  width: 92px;
  height: 32px;
  background: #1E2832;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 800px;
}

.filter-text {
  margin-bottom: 0px;
  width: 38px;
  height: 22px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.fa-filter {
  width: 16px;
  height: 14px;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.card-image {
  height: 400px;
  width: 312px;
  object-fit: contain;
}

.card h4 {
  width: 189px;
  height: 22px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  margin-top: 18px;
}

.brand-section {
  margin-top: 140px;
  position: absolute;
  width: 1920px;
  height: 776px;
  left: 0px;
}

.zara-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 26px;
  gap: 8px;
  position: absolute;
  width: 237px;
  height: 72px;
  left: 1083px;
  top: 611px;
  background: #FFFFFF;
}

.zara-brand-text {
  position: absolute;
  width: 504px;
  height: 187px;
  left: 1083px;
  top: 369px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.zara-logo1 {
  position: absolute;
  height: 309px;
  width: 732px;
  object-fit: contain;
  right: 200px;
}

.zara-logo2 {
  position: absolute;
  width: 191px;
  height: 81px;
  right: 850px;
  top: 160px;
  background: url(1024px-Zara_Logo.png);
}

.main-zara-logo {
  width: 1920px;
  height: 766px;
  object-fit: contain;
}

.best-seller-section {
  margin-top: 1000px;
}
.best-seller-section h2 {
  margin-left: 900px;
  margin-bottom: 40px;
}

.best-seller-card {
  margin-bottom: 140px;
}

.instragram-text {
  margin-bottom: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  text-transform: capitalize;
  color: #000000;
}

.disount-instagram {
  padding-top: 100px;
  background: rgba(30, 40, 50, 0.05);
}

.or-subscribe-text {
  width: 707px;
  height: 59px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  text-transform: capitalize;
  color: #000000;
  margin-left: 550px;
  margin-bottom: 74px;
  margin-top: 70px;
}

.custom-input {
  width: 643px;
  height: 32px;
  border: none;
  border-bottom: 2px solid black;
  margin-left: 550px;
  margin-bottom: 100px;
}

.input-bottom {
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 91px;
  height: 32px;
  border: none;
  border-bottom: 2px solid black;
}

.left-footer {
  height: 207px;
  width: 397px;
}

footer {
  margin-top: 141px;
}
footer .left-footer-h2 {
  width: 98px;
  height: 34px;
  font-family: "AmstelvarAlpha";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 32px;
}
footer .lorem-coral {
  box-sizing: border-box;
  width: 392px;
  height: 84px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: rgba(30, 40, 50, 0.75);
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 32px;
}
footer i {
  margin-right: 41px;
  width: 20px;
  height: 19px;
  font-family: "Font Awesome 6 Brands";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1E2832;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-menu {
  box-sizing: border-box;
  height: 212px;
  width: 200px;
}
.footer-menu h2 {
  width: 74px;
  height: 22px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 22px;
}
.footer-menu p {
  margin-bottom: 12px;
}
.footer-menu .last-p {
  margin-bottom: 0px;
}

.footer-top {
  margin-bottom: 90px;
}/*# sourceMappingURL=style.css.map */